<!-- okodi_agri/templates/admin/base_site.html -->
{% extends "admin/base.html" %}
{% load static %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<div id="site-name">
    <a href="{% url 'admin:index' %}">
        <i class="fas fa-seedling"></i> 
        {{ site_header|default:_('Django administration') }}
    </a>
</div>
{% if user.is_anonymous %}
  {% include "admin/color_theme_toggle.html" %}
{% endif %}
{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<style>
    #header {
        background: #2e7d32;
    }
    
    .module h2, .module caption {
        background: #4caf50;
    }
    
    div.breadcrumbs {
        background: #388e3c;
    }
    
    .button, input[type=submit], input[type=button], .submit-row input, a.button {
        background: #4caf50;
    }
    
    .button:hover, input[type=submit]:hover, input[type=button]:hover {
        background: #2e7d32;
    }
    
    .object-tools a:link, .object-tools a:visited {
        background: #4caf50;
    }
    
    #site-name a {
        color: white;
        font-size: 1.3rem;
    }
    
    #site-name i {
        margin-right: 8px;
    }
</style>
{% endblock %}
